---
layout: job_family_page
title: "Chief Information Security Officer"
---

The Chief Information Security Officer (CISO) reports to our CEO. The CISO is responsible for establishing and maintaining the enterprise vision, strategy, and program to ensure information assets and technologies are adequately protected.

## Responsibilities

- Run a great security department
- Build our visibility in the market since we're a security company/vendor
- Connect with economic buyers
- Help customers when there are escalations
- Help shape our product
- Ensure all security features are dogfooded by team members
- Keep us secure by leading zero trust company wide

## Requirements

- Prior experience as a public company CISO; experience building SOX compliant program
- Experience building secure and compliance focused vendor program
- Background in scaling Trust & Safety (preferably in OSS community)

## Performance Indicators
- [Security Department KPI's](https://about.gitlab.com/company/kpis/#security-department-kpis)

## Links

- [Security Handbook](/handbook/security/)
- [Engineering Workflow](/handbook/engineering/workflow/)

## Hiring Process

Candidates for this position can expect the hiring process to follow the order below. Please keep in mind that candidates can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find their job title on our [team page](/company/team/). Additional details about our process can be found on our [hiring page](/handbook/hiring/).

- 30 minute screen call with Recruiter
- 50 minute interview with CEO
- Interviews with members of E-Group
- Interviews with members of the Board
- 50 minute interview with CEO

## Chief Information Security Office Roles

<%= job_families('chief-information-security-officer') %>
