- if topic.resources != nil
  %hr.u-margin-top-xl.u-margin-bottom-sm
  .row.topic-resources.position-relative
    %img{:alt => "", :class=>"gitops-topic-bg resources", :loading=>"lazy",:src => "/images/topics/gitops-header-bg-3.svg"}/
    .col-md-5
      %h2
        = topic.resources_title
      - if topic.resources_intro != nil
        %p
          = kramdown(topic.resources_intro) 

    .col-md-1
    .col-md-6.resources.u-margin-top-md
      // We need to only include these h4 tags if the resource type exists
      - next_steps_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Next Steps"
          - if next_steps_loop == 0
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-next-steps.svg"}/
              Next Steps
            - next_steps_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - video_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Video"
          - if video_loop == 0
            - if next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-video.svg"}
              Videos
            - video_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - webcast_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Webcast"
          - if webcast_loop == 0
            - if video_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :loading=>"lazy", :src => "/images/icons/icon-webcast.svg"}/ 
              Webcasts
            - webcast_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - whitepaper_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Whitepapers"
          - if whitepaper_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :loading=>"lazy",:src => "/images/icons/icon-whitepapers.svg"}/
              Whitepapers
            - whitepaper_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - case_study_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Case studies"
          - if case_study_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon",:loading=>"lazy", :src => "/images/icons/icon-case-study.svg"}/
              Case studies
            - case_study_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - reports_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Reports"
          - if reports_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :loading=>"lazy",:src => "/images/icons/icon-report.svg"}/
              Reports
            - reports_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - blog_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Blog"
          - if blog_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-blog.svg"}/
              Blogs
            - blog_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - podcast_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Podcast"
          - if podcast_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-podcast.svg"}/
              Podcast
            - podcast_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - books_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Books"
          - if books_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 1 || podcast_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-book.svg"}/
              Books and eBooks
            - books_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →
      - articles_loop = 0
      - topic.resources.each do |article|
        - if article.type == "Articles"
          - if articles_loop == 0
            - if video_loop == 1 || webcast_loop == 1 || whitepaper_loop == 1 || case_study_loop == 1 || reports_loop == 1 || blog_loop == 1 || podcast_loop == 1 || books_loop == 1 || next_steps_loop == 1
              %hr.u-margin-top-sm.u-margin-bottom-sm
            %h4 
              %img{:alt => "", :class=>"icon", :src => "/images/icons/icon-articles.svg"}/
              Articles
            - articles_loop = 1
          %a{ href: "#{article.url}", :"data-ga-name" => "#{article.title}", :"data-ga-location" => "resources" }
            %p
              = article.title
              %span.arrow-head →